<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of User</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/form.css">
  <%- include('../menu/head') %>
  <script type="text/javascript" src="/js/user/remove.js"></script>
</head>
<body>
  <div class="s-content">
    <%- include('../partial/header') %>
    <h1>List of User</h1>
    <hr>
    <div><ol type="I"><%
      items.forEach(item => {%>
        <li>
          <ol class="horizontal">
            <% if (item.html) { %>
              <li class="li-left"><%= item.html %></li>
              <li class="li-center right small" title="<%= item.deletedAt %>">
                <%= item.count || 0 %> <%= item.deletedAt ? 'blocked' : 'allow' %><br>
                <%= item.lastAccess %>
              </li>
            <% } else { %>
              <li class="li-left"><%= item.login %></li>
              <li class="li-center right small">
                <%= item.deletedAt ? 'blocked' : 'allow' %><br>
                <%= item.lastAccess %>
              </li>
            <% } %>
            <li class="li-right"><a class="remove-button" data-id="<%= item.key %>">DEL</a></li>
          </ol>
        </li>
      <%})
    %></ol></div>
  </div>
  <%- include('../menu/body') %>
</body>
</html>
