<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of User</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/form.css">
  <%- include('../menu/head') %>
</head>
<body>
  <div class="s-content">
    <%- include('../partial/header') %>
    <h1>List of User</h1>
    <hr>
    <div><ol type="I"><%
      users.forEach(user => {%>
        <li>
          <ol class="horizontal">
            <% if (user.html) { %>
              <li class="max-half"><%= user.html %></li>
              <li class="right small">
                <%= user.count || 0 %><br>
                <%= user.lastAccess ? new Date(user.lastAccess).toISOString().replace(/T/, ' ').replace(/\..+$/, ' GMT') : '-' %>
              </li>
            <% } else { %>
              <li class="max-half"><%= user.login %></li>
              <li class="right small">
                <%= user.active ? 'allow' : 'blocked' %><br>
                <%= user.lastLogin ? new Date(user.lastLogin).toISOString().replace(/T/, ' ').replace(/\..+$/, ' GMT') : '-' %>
              </li>
            <% } %>
          </ol>
        </li>
      <%})
    %></ol></div>
  </div>
  <%- include('../menu/body') %>
</body>
</html>
